
sts.uri: https://security-token-service.nais.preprod.local/rest/v1/sts/token?grant_type=client_credentials&scope=openid
management :
   endpoints:
     web:
       exposure:
         include:  '*'
   endpoint:
     health:
       show-details : always
     security:
       enabled : false

spring:
  config.import: vault://
  cloud:
     vault:
         authentication: KUBERNETES
         kubernetes:
            role: fpsoknad-oppslag
            kubernetes-path: kubernetes/preprod/fss
            service-account-token-file: /var/run/secrets/kubernetes.io/serviceaccount/token        
         kv:
            enabled: true
            backend: kv/preprod/fss
            application-name: fpsoknad-oppslag/teamforeldrepenger
            default-context: fpsoknad-oppslag/teamforeldrepenger
  mvc:
    log-request-details : true
org:
  apache:
    cxf:
      logging:
        enable : true
        
virksomhet:             
 person:
   v3:
     endpointurl: https://wasapp-q1.adeo.no/tpsws/ws/Person/v3
   
securitytokenservice:
    url: https://sts-q1.preprod.local/SecurityTokenServiceProvider/
